<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Editar Producto</title>
</head>
<body>
    <div class="container">
        <%- include('./header') %>
        <div class="row">
            <div class="col"><h1>Editar Producto</h1></div>
        </div>

        <div class="row">
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Titulo del producto" value="<%= producto.title %>">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="description" placeholder="Descripción del producto"><%= producto.description %></textarea>
                </div>
                <div class="form-group">
                <input type="number" class="form-control" name="price"  value="<%= producto.price %>" >
                </div>
                <div class="form-group">
                    <input type="file" name="images" class="form-control" multiple>
                </div>
                <button class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="row justify-content-evenly mt-3">
                <% producto.images.forEach(imagen => { %>
                    <div class="col">
                    <div class="card" style="width: 18rem; margin:auto">
                        <img class="card-img-top" src="/images/<%= imagen.path %>" alt="Card image cap">
                        <div class="card-body">
                            <a href="/products/borrar-imagen/<%= imagen.id %>?product=<%= producto.id %>" class="btn btn-danger">Borrar imagen</a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>